<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./CSS/index.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet"/>


</head>

<body>
    <header>
        <img src="./img/logo-mercado-liebre.svg" width="40%" alt="logo">
        <p> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <input> <i class="fas fa-search"></i>
                <ul>
                    <li><a href="#" >Ofertas</a></li>
                    <li><a href="#" >Tiendas Oficiales</a></li>
                    <li><a href="#" >Vender</a></li>
                    <li><a href="#" >Ayuda</a></li>
                    <li><a href="/register" >Creá tu cuenta</a> <i class="far fa-address-card"></i></li>
                    <li><a href="#" >Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#" >Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>

        </nav>
        
        <div class="burger-menu" >
            <i class="fas fa-bars"></i>
        </div></br>
                <img src="\img\img-home-banner.jpg"  width="100%" alt="logo">      
    </header>

    <main>
        
        
<section>
    <p><h2>Basado en tu última visita</h2></p>
        <article>
            <img src="\img\img-cafetera-moulinex.jpg"  width="100%" alt="logo">
            <div class= "micro">
                <i class="fas fa-truck"></i>
                <div class="recuadro">
                    <p class="precio">$6.770</p>
                    <p class="des">40% OFF</p>
                </div>            
                <div class="decrip">Cafetera Moulinex</div>
            </div>
        </article>

        <article>
            <img src="\img\img-macbook-pro-2019.jpg" width="100%" alt="logo">
            <i class="fas fa-truck"></i>
            <div class="recuadro">
            <p class="precio">$230.000</p>
            <p class="des">20% off</p>
            
            </div>
            <div class="decrip">MacBook Pro 2019</div>
        </article>

        <article>
            <img src="\img\img-samsung-galaxy-s10.jpg"  width="100%" alt="logo">
            <i class="fas fa-truck"></i>
            <div class="recuadro">
            <p class="precio">$70.500</p>
            <p class="des">10% off</p>
            
            </div>
            <div class="decrip">Samsung Galaxy S10</div>
            </article>


        <article>
            <img src="\img\img-tv-samsung-smart.jpg" width="100%" alt="logo">
            <i class="fas fa-truck"></i>
            <div class="recuadro">
            <p class="precio">$23.200</p>
            <p class="des">5% off</p>
            
            </div>
            <div class="decrip">SmartTv Samsung 43"</div>
        </article>
</section>


<section>
    <h2>Sección de Ofertas</h2>

        <article>
            <img src="\img\img-cafetera-moulinex.jpg"  width="100%" alt="logo">
            <i class="fas fa-truck"></i>
            <div class="recuadro">
            <p class="precio">$6.770</p>
            <p class="des">40% OFF</p>
            
            </div>
            <div class="decrip">Cafetera Moulinex</div>
        </article>

        <article>
            <img src="\img\img-macbook-pro-2019.jpg" width="100%" alt="logo">
            <i class="fas fa-truck"></i>
            <div class="recuadro">
            <p class="precio">$230.000</p>
            <p class="des">20% off</p>
            
            </div>
            
            <div class="decrip">MacBook Pro 2019</div>

        </article>

        <article>
            <img src="\img\img-samsung-galaxy-s10.jpg"  width="100%" alt="logo">
            <i class="fas fa-truck"></i>
            <div class="recuadro">
            <p class="precio">$70.500</p>
            <p class="des">10% off</p>
            
            </div>
            <div class="decrip">Samsung Galaxy S10</div>
        </article>

        <article>
            <img src="\img\img-tv-samsung-smart.jpg" width="100%" alt="logo">
            <i class="fas fa-truck"></i>
            <div class="recuadro">
            <p class="precio">$23.200</p>
            <p class="des">5% off</p>
            
            </div>
            <div class="decrip">SmartTv Samsung 43"</div>
        </article>

</section>

</main>

<footer>
<i class="fas fa-credit-card"></i>
<h3> Pagá con tarjeta o en efectivo</h3>
<p>Con Mercado Liebre Cash, tenés cuotas sin interés </p>
<p>con tarjeta o efectivo enpuntos de pago. </p>
<p>¡Y siempre es seguro!</p>

<i class="fas fa-gift" ></i>
<h3>Envío gratis desde $ 2.500</h3>
<p>Solo por estar registrad@ en Mercado Liebre </p>
<p>tenés envíos gratis en miles de</p>
<p>productos. Es un beneficio de Mercado Puntos.</p>

<i class="fas fa-user-shield"></i>
<h3>Seguridad, de principio a fin</h3>
<p>¿No te gusta? ¡Devolvelo!</p>
<p>En Mercado Liebre, no hay nada que no puedas hacer,</p>
<p>porque estás siempre protegid@.</p>


<p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

</footer>
    
</body>
</html>